<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>US Calendar</title>
</head>
<body>
<h1>Witaj w kalendarzu prezentacji USG!</h1>

<p>Żeby sprawdzić wypożyczenia , przejdź <a th:href="@{/loans}">tutaj</a></p>
<div>
    <p>Aby dodać nowe wypożyczenie, przejdź <a th:href="@{/addLoan}">tutaj</a></p>
</div>
<p>Żeby sprawdzić aparaty USG , przejdź <a th:href="@{/ultrasoundMachines}">tutaj</a></p>
<div>
    <p>Aby dodać nowy aparat USG, przejdź <a th:href="@{/addUltrasoundMachine}">tutaj</a></p>
</div>
<p>Żeby sprawdzić głowice USG , przejdź <a th:href="@{/probes}">tutaj</a></p>
<div>
    <p>Aby dodać nową głowicę USG, przejdź <a th:href="@{/addProbe}">tutaj</a></p>
</div>
</body>
</html>