<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>US Calendar</title>
</head>
<body>
<h1>Wypożyczenia:</h1>
<div th:each="loan : ${loans}">
    <div>
        <h3 th:text="${loan.placeName}"></h3>
        <div>
        <span>
        Wypożyczenie od <b th:text="${loan.startTime}"></b> do <b
                th:text="${loan.endTime}"></b>.
        </span>
            <br/>
        </div>
        <div>
        <span>Aparat:
            <div th:each="ultrasoundMachine : ${loan.ultrasoundMachines}">
                <b th:text="${ultrasoundMachine.modelName}"></b>
            </div>
        </span>
        </div>
    </div>
</div>
</body>
</html>